{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form method="post" id="form">
        {% csrf_token %}
    </form>
    <h1>{{ lesson.name }}</h1>
    <video
            id="my-video"
            class="video-js"
            data-lesson-pk="{{ lesson.pk }}"
            controls
            preload="auto"
            width="640"
            data-setup="{}">
        <source src="{% url 'stream' lesson.id %}" type="video/mp4"/>
    </video>


    <script>
        csrftoken = document.getElementById('form').getElementsByTagName('input')[0].value
        var videoPlayer = document.getElementById('my-video');
        var lastSentPosition = 0;

        videoPlayer.addEventListener('timeupdate', function () {
            var currentPosition = videoPlayer.currentTime;

            // Отправляем данные только если текущая позиция изменилась на 10 секунд или более
            if (Math.abs(currentPosition - lastSentPosition) >= 10) {
                lastSentPosition = currentPosition;
                sendPositionToServer(currentPosition);
            }
        });

        function sendPositionToServer(position) {
            var lessonId = videoPlayer.dataset.lessonPk

            fetch('/update_position/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({position: position, lesson_id: lessonId})
            });
        }
    </script>

    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
{% endblock content %}